/* Folha de estilo da página de formulário */

body {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    background-image: url("imagens/anime.avif");
}

.card {
    box-shadow: 10px 10px 10px hsl(296, 73%, 13%);
}

.card-header {
    background-color: rgb(53, 11, 70);
    color: white;
}

.card-body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}